/* General Body Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #222831;
  margin: 0;
  padding: 0;
}

/* Chat Container */
.container {
  max-width: 400px;
  margin: 5% auto;
  padding: 20px;
  background: #393E46;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between;
}

/* Heading */
h1 {
  text-align: center;
  color: #EEEEEE;
  font-size: 1.5em;
  margin-bottom: 20px;
}

/* Input/Buttons for Alias */
input, button {
  padding: 10px;
  font-size: 16px;
}

input {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #00ADB5;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 8px;
}

button:hover {
  background-color: #00868d;
}

/* Chat Messages Container */
.messages {
  max-height: calc(100vh - 240px);
  overflow-y: auto;
  margin-bottom: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Message Bubble Styles */
.message {
  max-width: 70%;
  padding: 12px;
  border-radius: 20px;
  font-size: 16px;
  background-color: #f1f1f1;
  line-height: 1.4;
  word-wrap: break-word;
  position: relative;
}

.message.self {
  background-color: #00ADB5;
  color: white;
  align-self: flex-end;
  margin-left: auto;
}

.message.other {
  background-color: #f1f1f1;
  color: #333;
  align-self: flex-start;
}

.message strong {
  font-weight: bold;
}

/* Input Field Styling */
input[type="text"] {
  flex: 1;
  border-radius: 25px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  margin-right: 8px;
}

button {
  border-radius: 25px;
  padding: 12px 20px;
  font-size: 16px;
  background-color: #00ADB5;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #00868d;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.waiting-container {
  background-color: #00ADB5;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.waiting-message {
  font-size: 1.2em;
  color: #EEEEEE;
  margin: 0;
}

/* Modal (Pop-up) Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #00ADB5;
  color: #EEEEEE;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #00868d;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;

}

.close-btn:hover {
  background-color: white;
  color: #00868d;
}
